/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Set 1rem to 10px */
html {
  font-size: 62.5%; /* 1rem = 10px */
  height: 100vh;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b2434;
  font-family: 'Karla', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem; /* 16px */
  line-height: 1.5;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

#root {
  aspect-ratio: 1 / 1;
  width: 40rem;
  height: 40rem;
  min-width: 40rem;
  min-height: 40rem;
  max-width: 40rem;
  max-height: 40rem;
}

@media (max-width: 600px) {
  #root {
    aspect-ratio: auto;
    width: 30rem;
    height: auto;
    min-width: 30rem;
    min-height: auto;
    max-width: 30rem;
  }
}
